// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 Jason Yang <jasonyang@ieiworld.com>
 */

#include <dt-bindings/gpio/gpio.h>

/dts-v1/;
/plugin/;

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;

	pca9555@21 {
		a_ur_sw2 {
			status = "disabled";
		};

		b_ur_sw2 {
			status = "disabled";
		};

		a_ur_sw2_hog {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "A_UR_SW2";
		};

		b_ur_sw2_hog {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "B_UR_SW2";
		};
	};
};
