// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Wig Cheng <onlywig@gmail.com>
 */

#include <dt-bindings/gpio/gpio.h>

/dts-v1/;
/plugin/;

&{/} {
	clk_ext: clock-external {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "clk_ext";
	};
};

&dphy {
	status = "okay";
};

&dphy_rx {
	status = "okay";
};

&isi {
	status = "okay";

	port {
		isi_in: endpoint {
		remote-endpoint = <&mipi_csi_out>;
		};
	};
};

&mipi_csi {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			mipi_csi_in: endpoint {
				remote-endpoint = <&ov5640_out>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
			};
		};

		port@1 {
			reg = <1>;

			mipi_csi_out: endpoint {
				remote-endpoint = <&isi_in>;
			};
		};
	};
};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;

	ov5640: sensor@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;
		powerdown-gpios = <&pcal6524 22 GPIO_ACTIVE_LOW>;
		clocks = <&clk_ext>;
		clock-names = "xclk";

		port {
			ov5640_out: endpoint {
				remote-endpoint = <&mipi_csi_in>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
			};
		};
	};
};
